body {
    font-family: sans-serif;
    max-width: 1500px;
    background: #F8FAFE;
    margin: 0 auto;
}

main {
    padding: 0 50px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    gap: 30px;
}

.page-header {
    display: flex;
    font-family: sans-serif;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    height: 80px;
    border-bottom: 1px solid #010541;
    position: sticky;
    top: 0;
    background-color: white;
    margin-bottom: 18px;
}

.page-header__logo {
    display: flex;
    gap: 7px;
    align-items: baseline;
    justify-content: baseline;
}

.page-header__title {
    margin: 0;
    font-size: 44px;
}

.page-header__basket {
    position: relative;
}

.page-header__basket-amount {
    position: absolute;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    border: 1px solid #081658;
    border-radius: 10px;
    text-align: center;
    padding: 1px 3.5px;
    left: 31px;
    top: -7px;
}

.page-nav {
    margin: 0;
    padding: 0 50px;
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    gap: 4px;
    margin-bottom: 8px;
    
}

.product-name {
    
    display: flex;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin: 0;
}

.product-photos {
    display: flex;
    gap: 10px;
}

.product-photos__list {
    height: 387px;
}

.aside {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 40px;
}

.aside__ordering {
    display: flex;
    box-sizing: border-box;
    padding: 20px;
    gap: 15px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    flex-direction: column;
}

.old-price {
    display: flex;
    align-items: baseline;
    justify-content: baseline;
    gap: 10px;
}

.price {
    display: flex;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #888888;
    margin: 0px;
    
}

.sale {
    display: flex;
    width: 47px;
    height: 24px;
    border-width: 0px;
    border-radius: 500px;
    background-color: #F36223;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.actual-cost {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 32px;
}

.aside__price {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.old-price-like {
    display: flex;

}

.like {
    position: absolute;
    margin-left: 350px;
    margin-bottom: 10px;
    cursor: pointer;
}

.like__icon {
    width: 26px;
    height: 20px;
    fill: #888888;
}

.like__icon:hover {
    fill: #F36223;

}

.like__icon:active {
    fill: #A93A09;
}

.aside__delivery {
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    gap: 10px;
}

.basket button {
    display: flex;
    gap: 15px;
    width: 380px;
    height: 64px;
    border-radius: 4px;
    border-width: 0px;
    background-color: #F36223;
    color: #FFFFFF;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn_basket:hover {
    background: #DA4A0C;
}

.btn_basket:active {
    background: #A93A09;
}

.btn_basket::before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url("./images/Сердечко\ и\ корзинка/basket.svg");
    background-repeat: no-repeat;
    background-position: center center;
}

.aside__ad {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    gap: 10px;
}

.ad-signature {
    color: #888888;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 14px;
}

.ad-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.all-characteristics {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.characteristic {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.characteristic__name {
    margin: 0;
    
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.characteristic__list {
    display: flex;
    gap: 10px;
}

/* Кнопка выбора цвета */
/*
.btn__square-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border: 1px solid #888888;
    border-radius: 4px;
    box-sizing: border-box;
    gap: 10px;
    background: #FFFFFF;
    cursor: pointer;
}

.btn__square-image:hover {
    background: #F2F2F2;
    border: 2px solid #888888;
}

.btn__square-image:active {
    border: 2px solid #A93A09;
    background: #FFFFFF;
}

.btn__square-image_selected {
    border: 2px solid #F36223;
    border-radius: 4px;
}
*/


.color-selection > input {
    visibility: hidden;
    position: absolute;
    
}

.color-selection > input + img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
    border: 1px solid #888888;
    border-radius: 4px;
    box-sizing: border-box;
    gap: 10px;
    background: #FFFFFF;
    cursor: pointer;
    padding: 10px 25px;
}

.color-selection > input:checked + img {
    border: 2px solid #F36223;
}

.color-selection > input:hover + img {
    background: #F2F2F2;
    border: 2px solid #888888;
}

.color-selection > input:active + img {
    border: 2px solid #A93A09;
}

.memory-configuration {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.memory-configuration__name {
    margin: 0;
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.memory-configuration__list {
    display: flex;
    gap: 10px;
}


/* Кнопка выбора объёма памяти */

.memory-selected {
    border: none;
    background: white;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;

    user-select: none;
    display: inline-block;
}

.memory-selected > input {
    position: absolute;
    left: -9999px;
}

.memory-selected label {
    cursor: pointer;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    display: inline-block;
    border: 1px solid #888888;
    border-radius: 4px;
    padding: 10px 20px;
}

.memory-selected input:checked + label {
    border: 2px solid #F36223;
    
}

.memory-selected input:hover + label {
    background: #F2F2F2;
    border: 2px solid #888888;
}

.memory-selected input:active + label {
    border: 2px solid #A93A09;
}

/*.memory-selected:hover {
    background: #F2F2F2;
    border: 2px solid #888888;
}

.memory-selected:active {
    border: 2px solid #A93A09;
    background: white;
}

.memory-selected_selected {
    border: 2px solid #F36223;
    border-radius: 4px;
}
*/
.product-characteristics {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.product-characteristics__title {
    margin: 0px;
    
    
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.product-characteristics__list {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    margin: 0px;
    
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0px;
    margin: 0px;
    gap: 10px;
}

li:before {
    content: "\2B24";
    width: 10px;
    height: 10px;
    color: #888888;
    margin-right: 10px;
    gap: 10px;
}

/* Секция с описанием */
.description {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 15px;
}

.description__title {
    font-family: sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin: 0;
}

.description__paragraphs {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 16px;
    gap: 15px;
}

p {
    margin: 0;
}



.container-features {
    
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
    gap: 100px;
}

.left-side {
    display: flex;
    flex-direction: column;
    gap: 60px;
    align-items:flex-start;
    
    
}

/* Таблица */
.comparison {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 15px;
    font-family: sans-serif;
}

.comparison__title {
    font-weight: 700;
    font-size: 16px;
    margin: 0;
}

.comparison__table {
    font-size: 16px;
    text-align: center;
    border: 1px solid #888888;
    border-collapse: collapse;
    
}

.comparison__table_line_hat {
    border: 1px solid #888888;
    padding: 10px 0;
    font-weight: 700;
}

.comparison__table_line_content {
    border-left: 1px solid #888888;
    border-right: 1px solid #888888;
    text-align: left;
    padding: 10px;
}


.comparison__table tbody tr:hover {
    background-color: #F2F2F2;
    cursor: pointer;
}


/* Секция с отзывами */

.reviews-section {
    font-family:sans-serif;
}

.reviews-section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviews-section__appellation {
    display: flex;
    gap: 10px;
}

.reviews-section__title  {
    margin: 0;
    font-family:sans-serif;
    font-weight: 700;
    font-size: 24px;
}

.reviews-section__amt {
    font-family:sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #888888;
}


/* Отзыв */

.reviews-section {
    display: flex;
    margin: 0;
    flex-direction: column;
    gap: 25px;
}

.reviews-section__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.review {
    display: flex;
    gap: 30px;
}

.review__photo {
    border-radius: 100px;
}

.review__name {
    margin: 0;
    font-weight: 700;
    font-size: 20px;
}

.review__rating {
    margin-top: 10px;
}

.review__words {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-weight: 500;
    font-size: 14px;
}

/* Разделитель */

.separator {
    border-top: 1px dashed #888888;
    margin-left: 170px;
    
}

/* Форма добавления отзыва */

.block-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
    padding: 0px 0px 0px 170px;
}

.block-form__title {
    font-family:sans-serif;
    font-weight: 700;
    font-size: 16px;
}

.block-form__content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.block-form__name-and-rating {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.block-form__username {
    padding: 15px 20px;
    border: 1px solid #888888;
    width: 80%;
}

.block-form__username::placeholder {
    font-family:sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #888888;
}

.block-form__username:hover {
    border: 1px solid #000000;
}

.block-form__rating {
    padding: 15px 20px;
    width: 20%;
}

.block-form__rating::placeholder {
    font-family:sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #888888;
}

.block-form__rating:hover {
    border: 1px solid #000000;
}

.block-form__text-review {
    resize: none;
    
    height: 190px;
    padding: 15px 20px;
}

.block-form__text-review::placeholder {
    font-family:sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #888888;
}

.block-form__text-review:hover {
    border: 1px solid #000000;
}

.block-form__btn-add-review {
    background-color: #F36223;
    border-radius: 4px;
    padding: 10px 20px;
    border: none;
    font-family:sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    width: fit-content;
}

.block-form__btn-add-review:hover {
    background: #DA4A0C;
}

/* Подвал */

footer {
    margin-top: 100px;
    width: 100%;
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family:sans-serif;
}

.footer__copyright {
    padding: 30px 50px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.footer__btn-up {
    padding: 30px 50px;
    font-weight: 400;
    font-size: 16px;
}


/* Ссылки */

a {
    color: #018ad2;
    text-decoration: none;
}

a:hover {
    color: #F36223;
}

a:active {
    color: #A93A09;
}

iframe {
    border: 1px dashed #ccc;
}





