/* При разрешении менее 1500px */

@media (max-width: 1499px) {
    .comparison {
        display: none;
    }
    main {
        padding: 0 15px;
    }
    .page-header {
        padding: 0 15px; 
    }
    .page-nav {
        padding: 0 15px;
    }
    .product-photos__list {
        height: 272px;
    }
    .container-features {
        gap: 40px;
    }
    .review__photo {
        height: 100px;
    }
    .review__rating {
        height: 20px;
    }
    .block-form {
        padding: 0px;
    }
}